#qlc_table th{
  text-align: left;
  background-color:gray;
  color: white;
  border: solid 1px lightgray;
  max-width: 250px;
  overflow: auto;
  padding: 5px;
}
#qlc_table td{
  text-align: left;
  background-color: white;
  color: black;
  border: solid 1px lightgray;
  max-width: 250px;
  overflow: auto;
  padding: 5px;
}
#qlc_table table{
  border: solid 2px black;
}

.inactive {
  display: none;
}
.active {
  display: inline;
}

.submit {
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  cursor: default;
}
.submit2 {
  border: 1px solid black;
  padding-top: 3px;
  padding-bottom: 4px;
  padding-right: 3px;
  padding-left: 3px;
}

.info {
  padding-top: 4px;
  padding-bottom: 6px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #fdfdfd;
  font-weight: bold;
  border: 1px solid black;
}

.textfield {
  cursor: text;
}

.settings{
  overflow: hidden;
  float:right;
  background-color: #fefefe;
  padding: 10px;
}
.settings th{
  border: 1px solid lightgray;
  text-align:left;
  padding:5px;
}
.settings td{
  border: 1px solid lightgray;
  text-align:left;
  padding:5px;
}

.settings table{
  border: 1px solid lightgray;
}

.visible {
  display: block;
}

#progressbar {
  display: none;
}

#columncb {
  display:none;
  vertical-align: top;
}



span.residue {
  display: table-cell;
  width: 30px;
  background-color: #f1f1f1;
  font-weight: bold;
  text-align: center;
  color: white;
  cursor: default;
}

td.dolgo_ERROR{background-color: white; color:red;}
td.dolgo_V{background-color: #c86464;}
td.dolgo_K{background-color: #c89664;} 
td.dolgo_P{background-color: #c8c864;} 
td.dolgo_H{background-color: #96c864;} 
td.dolgo_J{background-color: #64c864;} 
td.dolgo_M{background-color: #64c896;} 
td.dolgo_N{background-color: #64c8c8;} 
td.dolgo_S{background-color: #6496c8;} 
td.dolgo_R{background-color: #6464c8;} 
td.dolgo_T{background-color: #9664c8;} 
td.dolgo_W{background-color: #c864c8;} 
td.dolgo_1{background-color: #c86496;} 
td.dolgo_X{background-color: #bbbbbb;}
td.dolgo_GAP{background-color: #bbbbbb;}
span.dolgo_ERROR{background-color: white; color:red;}
span.dolgo_V{background-color: #c86464;}
span.dolgo_K{background-color: #c89664;} 
span.dolgo_P{background-color: #c8c864;} 
span.dolgo_H{background-color: #96c864;} 
span.dolgo_J{background-color: #64c864;} 
span.dolgo_M{background-color: #64c896;} 
span.dolgo_N{background-color: #64c8c8;} 
span.dolgo_S{background-color: #6496c8;} 
span.dolgo_R{background-color: #6464c8;} 
span.dolgo_T{background-color: #9664c8;} 
span.dolgo_W{background-color: #c864c8;} 
span.dolgo_1{background-color: #c86496;} 
span.dolgo_X{background-color: #bbbbbb;}
span.dolgo_GAP{background-color: #bbbbbb;}


.help {
  display: none;
  position: fixed;
  background-color: lightgray;
  border: 2px solid red;
  max-width: 800px;
}
